.div-cluster-frame{
    border:thin black solid;
    position:absolute;
    background-size: cover;
}
.div-cluster-menu{
    position:absolute;
    z-index:100;
    padding:10Px;
    background: gray;
}